<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Musik{% endblock %}</title>
    <link rel="icon"
          href="{{ asset('build/images/icon.svg') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<header class="header responsive-wrapper">
    <div class="header-left">
        <a href="#" class="header-logo">
            Musik
        </a>
    </div>
    <div class="header-middle">
        <a href="#" class="header-link">Home</a>
        <span>/</span>
        <a href="#" class="header-link">Discover</a>
    </div>
    <div class="header-right">
        {# if user is logged #}
        {% if app.user %}
            <div class="user-menu">
                <div class="user-menu-image">
                    <img src="https://assets.codepen.io/285131/author-3.png" alt="{{ app.user.username }}"/>
                </div>
            </div>
            <!-- <button class="header-menu-button">Menu</button> -->
        {% else %}
            <nav class="header-nav">
                <a href="{{ path('app_login') }}" class="header-link">Login</a>
                <a href="{{ path('app_register') }}" class="header-link header-link--button">Register</a>
            </nav>
            <!-- <button class="header-menu-button">Menu</button> -->
        {% endif %}
    </div>

</header>
{% block body %}{% endblock %}

{# show flashes #}
<script>
    const alerts = {{ app.flashes|json_encode|raw }};
</script>

</body>
</html>
