{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_start(form, {'attr': {'class': 'form login'}}) }}
    <h1>Register</h1>
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.agreeTerms) }}

    <button type="submit" class="btn">Register</button>
    {{ form_end(form) }}
{% endblock %}
